.margin-top2{
    margin-top: 2%;
}

.margin-bottom5{
    margin-bottom: 5%;
}

.font-roboto{
    font-family: Roboto;
}

.bg-gray{
    background: #F7F7F9;
}

.shadow{
    box-shadow: 0px 0px 5px gray;
}

.card:hover{
    box-shadow: 0px 5px 10px gray;
}

.gradient-blue{
    background-image: linear-gradient(to right, #0171BF, #1cb5e0);
}


footer{
    color: white;
    margin-bottom: -5%;
}