<!DOCTYPE html>
<html>
{% load static %}
<head>

	<meta charset="utf-8">
	<title>Pedidos</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

</head>
<body class="bg-gray">

    <header>

        <nav class="navbar navbar-light shadow-sm bg-white rounded ">
          <img
                  src="{% static 'img/alivio.jpeg' %}"
                  alt="aliv.io logo"
                  class="img-fluid"
                  width="110">
        </nav>
    </header>



    <section id="search-orders" class="container">
        <form method="get">
            <input
                autocomplete="off"
                type="text"
                class="form-control mt-5 mb-3 shadow"
                name="buscar"
                placeholder="Buscar orden ">
        </form>
    </section>



    <section id="list-orders">
        <article>
            <div class="container">
                {% for items in item %}
                <div class="card mt-5 margin-bottom5">
                        <div class="card-body">
                            <div class="row">
                                <!--item data-->
                                <div class="col font-roboto">
                                    <h2 class="font-roboto margin-top2 margin-bottom5">
                                        Datos del Producto
                                    </h2>

                                    <p>Codigo: <b>{{items.code}}</b></p>
                                    <p>Fecha: <b>{{items.date}}</b></p>
                                    <p>Cantidad: <b>{{items.quantity}}</b></p>
                                </div>


                                <!--user data-->
                                <div class="col font-roboto">
                                    <h2 class="font-roboto margin-top2 margin-bottom5">
                                        Datos del Cliente
                                    </h2>

                                    <p>Nombre: <b>{{items.name.name}}</b></p>
                                    <p>Apellido: <b>{{items.name.last_name}}</b></p>
                                    <p>Celular: <b>{{items.name.phone}}</b></p>
                                    <p>Direccion: <b>{{items.name.address}}</b></p>
                                    <p>Direccion 1: <b>{{items.name.address1}}</b></p>
                                    <p>Direccion 2: <b>{{items.name.address2}}</b></p>
                                    <p>Ciudad: <b>{{items.name.city}}</b></p>
                                    <p>Provincia: <b>{{items.name.province}}</b></p>
                                    <p>Codigo Postal: <b>{{items.name.Zip}}</b></p>
                                </div>

                            </div>
                        </div>
                </div>
                {% endfor %}
            </div>
        </article>
    </section>



    <footer class="">
        <div class="jumbotron jumbotron-fluid gradient-blue">
          <div class="container">
              <p class="text-center"> &copy; aliv.io 2017. Todos los derechos reservados</p>
          </div>
        </div>
    </footer>

</body>
</html>
